@use '../variables' as *;

.construction__wrapper {
  border: 1px dashed #bbb;
  background: #f6f6f6;
  border-radius: $smallBorderRadius;
}

.construction__content {
  padding: 48px 24px;
  text-align: center;
  // TODO stripe pattern
}

.construction__label {
  color: #aaa;
}

.construction__title {
  font-weight: 600;
  margin: 16px 0 0;
}

.construction__text {
  margin: 8px 0 0;
}
