@use '../variables' as *;

.image-slider__slides {
  position: relative;
  border-radius: $smallBorderRadius;
  overflow: hidden;
}

.image-slider__slide {
  background: no-repeat center center/ cover;
  border-radius: $smallBorderRadius;
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

// Navigation

.image-slider__navigation {
  position: relative;
  height: 24px;
  margin: 8px 0 0;

  .swiper-pagination {
    line-height: 0;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 8px;

    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: color('gray-600');
      opacity: 1;
      transition: transition('background');

      &:hover {
        background: color('secondary');
      }
    }

    .swiper-pagination-bullet-active {
      background: color('secondary');
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    margin: 0;
    color: color('gray-600');
    transition: transition('color');

    &:hover {
      color: color('secondary');
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    left: 0;
  }
}
