@use '../variables' as *;

.accordion__wrapper {
  margin: 32px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  + .accordion__wrapper {
    margin-top: -16px;

    @media (max-width: $breakpointS) {
      margin-top: -20px;
    }

    @media (max-width: $breakpointXS) {
      margin-top: -24px;
    }

    &.-design-image-subtitle {
      margin-top: -8px;

      @media (max-width: $breakpointS) {
        margin-top: -16px;
      }
    }
  }
}

.accordion__container {
  border-radius: $defaultBorderRadius;
  background-color: color('gray-200');

  .accordion__wrapper.-color-white & {
    background-color: #fff;
  }

  .accordion__wrapper.-design-image-subtitle & {
    background-image: gradient('gray-100');
    box-shadow: 2px 2px 12px 0 rgba(color('gray-600'), 0.6);
  }
}

.accordion__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 0 16px 0 24px;
  cursor: pointer;

  .accordion__wrapper.-design-image-subtitle & {
    padding: 32px;
    align-items: flex-end;

    @media (max-width: $breakpointL) {
      padding: 24px;
    }

    @media (max-width: $breakpointM) {
      padding: 16px;
    }

    @media (max-width: $breakpointS) {
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
    }
  }

  @media (max-width: $breakpointXS) {
    padding-left: 16px;
  }
}

.accordion__image-subtitle-container {
  display: flex;
  align-items: center;
  gap: 48px;

  @media (max-width: $breakpointL) {
    gap: 32px;
  }

  @media (max-width: 800px) {
    gap: 24px;
  }

  @media (max-width: $breakpointS) {
    gap: 16px;
  }

  @media (max-width: $breakpointXS) {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}

.accordion__image-subtitle-content {
  flex: 1;
  max-width: 460px;
  transition: transition('transform');

  .accordion__header:hover & {
    @media (min-width: calc(600px + 1px)) {
      transform: translateX(6px);
    }
  }
}

.accordion__subtitle {
  position: relative;
  margin: 32px 0 0;

  @media (max-width: $breakpointM) {
    margin-top: 24px;
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background: rgba(0, 0, 0, 0.12);
    position: absolute;
    left: 0;
    right: 0;
    top: -16px;
    transform: translateY(-50%);

    @media (max-width: $breakpointM) {
      top: -12px;
    }
  }
}

.accordion__image {
  align-self: flex-start;
  flex-shrink: 0;
  width: 340px;
  background: no-repeat center center / cover;
  border-radius: $smallBorderRadius;

  @media (max-width: $breakpointL) {
    width: 300px;
  }

  @media (max-width: $breakpointM) {
    width: 240px;
  }

  @media (max-width: 800px) {
    width: 33.333%;
  }

  @media (max-width: $breakpointS) {
    width: 120px;
  }

  @media (max-width: $breakpointXS) {
    width: 100%;
  }

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.accordion__title {
  flex: 1;
  margin: 0;
  padding: 16px 0;

  @media (max-width: $breakpointXS) {
    font-weight: 400;
    padding: 12px 0;
  }

  .accordion__wrapper.-design-image-subtitle & {
    padding: 0;
    margin: 0;

    @media (max-width: $breakpointM) {
      font-size: 32px;
    }

    @media (max-width: 800px) {
      font-size: 28px;
    }

    @media (max-width: $breakpointS) {
      font-size: 26px;
      hyphens: auto;
    }

    @media (max-width: $breakpointXS) {
      font-size: 24px;
      font-weight: 300;
    }
  }
}

.accordion__content-label {
  color: $defaultTextColor;
  margin: 0 0 24px;
}

.accordion__icon {
  position: relative;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 50%;
  transition: transition('transform');

  .accordion__header:hover & {
    transform: scale(1.1);
  }

  .accordion__wrapper.-design-image-subtitle & {
    @media (min-width: calc(600px + 1px)) {
      width: 50px;
      height: 50px;
    }

    @media (max-width: $breakpointS) {
      align-self: flex-end;
      width: 40px;
      height: 40px;
    }
  }

  > span {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;

    .accordion__wrapper.-design-image-subtitle & {
      @media (min-width: calc(600px + 1px)) {
        width: 20px;
        height: 20px;
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 18px;
      height: 2px;
      border-radius: 1px;
      background: #fff;
      transition: transition('transform', 'opacity');

      .accordion__wrapper.-design-image-subtitle & {
        @media (min-width: calc(600px + 1px)) {
          width: 20px;
        }
      }
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-90deg);

      .accordion__wrapper.-accordion-open & {
        transform: translate(-50%, -50%) rotate(0deg);
        opacity: 0;
      }
    }
  }
}

.accordion__content {
  display: none;
}

.accordion__content-inner {
  padding: 16px 24px 24px;

  @media (max-width: $breakpointXS) {
    padding: 8px 16px 16px;
  }

  .accordion__wrapper.-design-image-subtitle & {
    padding: 16px calc(32px + 24px) 32px;

    @media (max-width: $breakpointL) {
      padding: 16px calc(24px + 16px) 24px;
    }

    @media (max-width: $breakpointM) {
      padding: 16px 24px 24px;
    }

    @media (max-width: $breakpointS) {
      padding: 8px 16px 16px;
    }
  }
}

.accordion__content-list-items {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 32px;
}

.accordion__content-list-item {
  position: relative;
  width: calc(50% - 32px * 1 / 2);
  font-size: 23px;
  line-height: 1.3;
  font-weight: 600;
  color: color('secondary');
  padding: 0 0 8px;

  @media (max-width: $breakpointM) {
    width: 100%;
  }

  @media (max-width: $breakpointS) {
    font-size: 21px;
  }

  @media (max-width: $breakpointXS) {
    font-size: 20px;
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background: rgba(#fff, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
  }
}
