@use '../variables' as *;

.number-ticker__wrapper {
  position: relative;
}

.number-ticker__items {
  display: flex;
  gap: 32px 8px;

  @media (max-width: $breakpointM) {
    flex-wrap: wrap;
  }

  @media (max-width: $breakpointXS) {
    gap: 24px 8px;
  }
}

.number-ticker__item {
  padding: 16px 0;
  position: relative;
  text-align: center;
  flex: 1;

  @media (max-width: $breakpointM) {
    flex: revert;
    padding: 8px 0;
    width: calc(100% / 2 - 8px * 1 / 2);
  }
}

.number-ticker__number-container {
  font-size: 95px;
  font-weight: bold;
  line-height: 1;

  @media (max-width: $breakpointL) {
    font-size: 80px;
  }

  @media (max-width: $breakpointS) {
    font-size: 70px;
  }

  @media (max-width: $breakpointXS) {
    font-size: 60px;
  }
}

.number-ticker__unit {
  margin-left: -16px;
}

.number-ticker__number-text {
  margin: 24px 0 0;

  @media (max-width: $breakpointL) {
    margin-top: 20px;
  }

  @media (max-width: $breakpointM) {
    margin-top: 16px;
  }

  @media (max-width: $breakpointXS) {
    margin-top: 8px;
    font-size: 20px;
  }
}
