@use '../variables' as *;

$colorCol1: color('primary-light');
$colorCol2: color('primary');
$colorCol3: color('secondary');
$colorCol4: color('primary-light');

.number-ticker__wrapper {
  width: calc(100% + 64px);
  margin-left: -32px;
  margin-right: -32px;

  @media (max-width: 900px) {
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
  }
}

.number-ticker__items {
  display: flex;
  gap: 32px 8px;

  @media (max-width: 900px) {
    flex-wrap: wrap;
  }

  @media (max-width: 400px) {
    gap: 24px 8px;
  }
}

.number-ticker__item {
  padding: 16px 0;
  position: relative;
  text-align: center;
  flex: 1;

  @media (max-width: 900px) {
    flex: revert;
    padding: 8px 0;
    width: calc(100% / 2 - 8px * 1 / 2);
  }

  &.-col1 {
    color: $colorCol1;
  }

  &.-col2 {
    color: $colorCol2;
  }

  &.-col3 {
    color: $colorCol3;
  }

  &.-col4 {
    color: $colorCol4;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -4px;
    bottom: 0;
    width: 2px;
    border-radius: 1px;
    background: color('gray-400');
    transform: translateX(50%);
  }

  &:last-child {
    &::after {
      display: none;
    }
  }

  @media (max-width: 900px) {
    &:nth-child(2) {
      &::after {
        display: none;
      }
    }
  }
}

.number-ticker__number-container {
  font-size: 95px;
  font-weight: bold;
  line-height: 1;

  @media (max-width: 1200px) {
    font-size: 80px;
  }

  @media (max-width: 600px) {
    font-size: 70px;
  }

  @media (max-width: 400px) {
    font-size: 60px;
  }
}

.number-ticker__unit {
  margin-left: -16px;
}

.number-ticker__number-text {
  margin: 24px 0 0;

  @media (max-width: 1200px) {
    margin-top: 20px;
  }

  @media (max-width: 900px) {
    margin-top: 16px;
  }

  @media (max-width: 400px) {
    margin-top: 8px;
    font-size: 20px;
  }
}
