@use '../variables' as *;

.todo__wrapper {
  background: color('gray-100');
  border: 1px solid color('gray-400');
  border-radius: $smallBorderRadius;
  padding: 64px 24px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
}
