@use '../variables' as *;

.todo__wrapper {
  border: 1px dashed #bbb;
  background: #f6f6f6;
  border-radius: $smallBorderRadius;
}

.todo__content {
  padding: 48px 24px;
  text-align: center;
  font-weight: 600;
}
