@use '../variables' as *;

.todo__wrapper {
  border: 1px solid color('gray-400');
  background: color('gray-100');
  border-radius: $smallBorderRadius;
}

.todo__content {
  padding: 48px 24px;
  text-align: center;
  font-weight: 600;
}
