@use '../variables' as *;

// Container

.container {
  position: relative;
  margin: auto;
  max-width: $maxContentWidth;
  width: calc(100% - $contentPaddingL - $contentPaddingL);

  @media (max-width: $breakpointM) {
    width: calc(100% - $contentPaddingM - $contentPaddingM);
  }

  @media (max-width: $breakpointS) {
    width: calc(100% - $contentPaddingS - $contentPaddingS);
  }

  @media (max-width: $breakpointXS) {
    width: calc(100% - $contentPaddingXS - $contentPaddingXS);
  }
}

.alignwide {
  margin-left: calc(80px * -1);
  margin-right: calc(80px * -1);

  &.has-background {
    padding-left: 80px;
    padding-right: 80px;
  }

  @media (max-width: calc($maxContentWidth + 80px + 80px + 24px + 24px)) {
    margin-left: calc($contentPaddingL * -1);
    margin-right: calc($contentPaddingL * -1);

    &.has-background {
      padding-left: $contentPaddingL;
      padding-right: $contentPaddingL;
    }
  }

  @media (max-width: calc($maxContentWidth + $contentPaddingL + $contentPaddingL + 24px + 24px)) {
    margin-left: calc((100vw - $maxContentWidth) / 2 / 2 * -1 - 16px);
    margin-right: calc((100vw - $maxContentWidth) / 2 / 2 * -1 - 16px);

    &.has-background {
      padding-left: calc((100vw - $maxContentWidth) / 2 / 2 + 16px);
      padding-right: calc((100vw - $maxContentWidth) / 2 / 2 + 16px);
    }
  }

  @media (max-width: calc($maxContentWidth + $contentPaddingL + $contentPaddingL)) {
    margin-left: calc($contentPaddingL / 2 * -1 - 12px);
    margin-right: calc($contentPaddingL / 2 * -1 - 12px);

    &.has-background {
      padding-left: calc($contentPaddingL / 2 + 12px);
      padding-right: calc($contentPaddingL / 2 + 12px);
    }
  }

  @media (max-width: $breakpointM) {
    margin-left: calc($contentPaddingM * -1 + 16px);
    margin-right: calc($contentPaddingM * -1 + 16px);

    &.has-background {
      padding-left: calc($contentPaddingM - 16px);
      padding-right: calc($contentPaddingM - 16px);
    }
  }

  @media (max-width: $breakpointS) {
    margin-left: calc($contentPaddingS * -1 + 8px);
    margin-right: calc($contentPaddingS * -1 + 8px);

    &.has-background {
      padding-left: calc($contentPaddingS - 8px);
      padding-right: calc($contentPaddingS - 8px);
    }
  }

  @media (max-width: $breakpointXS) {
    margin-left: calc($contentPaddingXS * -1 + 8px);
    margin-right: calc($contentPaddingXS * -1 + 8px);

    &.has-background {
      padding-left: calc($contentPaddingXS - 8px);
      padding-right: calc($contentPaddingXS - 8px);
    }
  }
}

.alignfull {
  margin-left: calc((100vw - $maxContentWidth) * -0.5);
  margin-right: calc((100vw - $maxContentWidth) * -0.5);

  @media (max-width: calc($maxContentWidth + $contentPaddingL + $contentPaddingL)) {
    margin-left: calc($contentPaddingL * -1);
    margin-right: calc($contentPaddingL * -1);
  }

  @media (max-width: $breakpointM) {
    margin-left: calc($contentPaddingM * -1);
    margin-right: calc($contentPaddingM * -1);
  }

  @media (max-width: $breakpointS) {
    margin-left: calc($contentPaddingS * -1);
    margin-right: calc($contentPaddingS * -1);
  }

  @media (max-width: $breakpointXS) {
    margin-left: calc($contentPaddingXS * -1);
    margin-right: calc($contentPaddingXS * -1);
  }

  > .wp-block-group__inner-container {
    max-width: calc($maxContentWidth + $contentPaddingL + $contentPaddingL);
    padding-left: $contentPaddingL;
    padding-right: $contentPaddingL;
    margin: auto;

    @media (max-width: $breakpointM) {
      padding-left: $contentPaddingM;
      padding-right: $contentPaddingM; 
    }

    @media (max-width: $breakpointS) {
      padding-left: $contentPaddingS;
      padding-right: $contentPaddingS;
    }

    @media (max-width: $breakpointXS) {
      padding-left: $contentPaddingXS;
      padding-right: $contentPaddingXS;
    }
  }
}
