@use '../core' as *;

// Footer

.footer__wrapper {
  background: #ddd;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-size: 14px;

  @media (max-width: $breakpointM) {
    flex-direction: column;
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: center;
    text-align: center;
  }
}

// Footer menu

.footer-menu__wrapper {
  margin-left: auto;

  @media (max-width: $breakpointM) {
    margin-left: 0;
    margin-top: 16px;
  }
}

.footer-menu__container {
  width: 100%;
}

.footer-menu__container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;

  @media (max-width: $breakpointS) {
    flex-direction: column;
    justify-content: center;
  }

  > li {
    padding: 0;
    margin: 0 0 0 16px;

    @media (max-width: $breakpointS) {
      margin: 0;
    }

    &:first-child {
      margin-left: 0;
    }

    > a {
      color: #666;
    }
  }
}
