@use '../variables' as *;

// Buttons
@mixin form {
  .buttons,
  .wp-block-buttons {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    gap: 8px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $breakpointS) {
      margin-top: 16px;
      margin-bottom: 16px;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .wp-block-button {
    line-height: 0;
  }

  .-button-trigger {
    cursor: pointer;
  }

  .button,
  .wp-block-button__link {
    display: inline-block;
    border: 0;
    color: #fff;
    font-size: fontSize('m');
    line-height: 26px;
    border-radius: 32px;
    padding: 12px 24px;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
    text-decoration: none !important;
    background: color('secondary');
    transition: transition('background');
    font-weight: 600;
    height: auto;

    &:hover,
    .-button-trigger:hover & {
      text-decoration: none !important;
      background: color('primary');
    }

    &[disabled] {
      cursor: default !important;
      color: #ccc !important;
      background: #eee !important;
      box-shadow: none !important;
    }
  }
}
