@use '../variables' as *;

// Header styles

.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #ccc;

  // Adjust when wordpress admin bar is present
  .logged-in.admin-bar & {
    top: 32px;

    @media (max-width: 782px) {
      top: 46px;
    }
  }
}

.header__placeholder {
  height: $headerHeight;

  @media (max-width: $mobileBreakpoint) {
    height: $headerHeightMobile;
  }
}

.header__container {
  display: flex;
  align-items: center;
  height: $headerHeight;

  body.-init & {
    transition: transition('height');
  }

  body.-scrolled & {
    height: $headerHeightScrolled;
  }

  @media (max-width: $mobileBreakpoint) {
    height: $headerHeightMobile;

    body.-scrolled & {
      height: $headerHeightScrolled;
    }
  }
}

.logo__image {
  height: 56px;
  width: auto;

  body.-init & {
    transition: transition('height');
  }

  body.-scrolled & {
    height: 32px;
  }

  @media (max-width: $mobileBreakpoint) {
    height: 40px;

    body.-scrolled & {
      height: 32px;
    }
  }
}

// Header menu

.header-menu__wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;

  @media (max-width: $mobileBreakpoint) {
    position: absolute;
    display: block;
    top: 100%;
    width: $menuWidth;
    right: calc($menuWidth * -1 - 8px - $contentPaddingL);
    background: #fff;
    margin: 0;
    transition: transition('right');
    height: calc(100vh - $headerHeight);
    padding: 24px $contentPaddingL 24px 24px;

    body.-scrolled & {
      height: calc(100vh - $headerHeightScrolled);
    }

    body.admin-bar & {
      height: calc(100vh - $headerHeightMobile - 32px);

      @media (max-width: 782px) {
        height: calc(100vh - $headerHeightMobile - 46px);
      }
    }

    body.admin-bar.-scrolled & {
      height: calc(100vh - $headerHeightScrolled - 32px);

      @media (max-width: 782px) {
        height: calc(100vh - $headerHeightScrolled - 46px);
      }
    }

    @media (max-width: $breakpointM) {
      padding-right: $contentPaddingM;
      right: calc($menuWidth * -1 - $contentPaddingM);
    }

    @media (max-width: $breakpointS) {
      padding-right: $contentPaddingS;
      right: calc($menuWidth * -1 - $contentPaddingS);
    }

    @media (max-width: $breakpointXS) {
      padding-right: $contentPaddingXS;
      width: 100vw;
      right: calc(100vw * -1 - $contentPaddingXS);
    }

    body.-menu-open & {
      right: calc($contentPaddingL * -1);

      @media (max-width: $breakpointM) {
        right: calc($contentPaddingM * -1);
      }

      @media (max-width: $breakpointS) {
        right: calc($contentPaddingS * -1);
      }

      @media (max-width: $breakpointXS) {
        right: calc($contentPaddingXS * -1);
      }
    }
  }
}

.header-menu__container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;

  @media (max-width: $mobileBreakpoint) {
    width: 100%;
    flex-direction: column;
    padding: 8px 0;
  }

  >li {
    padding: 0;
    margin: 0 24px 0 0;

    @media (max-width: $mobileBreakpoint) {
      margin: 0;
      text-align: right;
      padding: 8px 0;
    }

    &:last-child {
      margin-right: 0;
    }

    >a {
      color: $defaultTextColor;
      text-decoration: none;

      &:hover {
        color: color('primary');
        text-decoration: none;
      }
    }

    &.-current-active {
      >a {
        color: color('primary');
      }
    }

    &.menu-item-is-button {
      @media (max-width: $mobileBreakpoint) {
        margin-top: 16px;
      }

      >a {
        background: color('primary');
        color: #fff;
        padding: 12px 24px;
        border-radius: 8px;
        text-decoration: none;
        font-weight: 600;
        transition: transition('background-color', 'color');

        &:hover {
          background: color('secondary');
        }
      }
    }
  }
}

.header__menu-overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  pointer-events: none;
  transition: transition('opacity');

  body.-menu-open & {
    opacity: 1;
    pointer-events: all;
  }
}

body.-menu-block-scroll {
  overflow: hidden;
}

// Menu toggler

.header-menu__toggler-container {
  display: block;
  z-index: 4;
  cursor: pointer;
  margin-left: auto;
  border-radius: 50%;
  background: color('primary');
  display: none;

  @media (max-width: $mobileBreakpoint) {
    display: block;
  }

  body.-page-init & {
    transition: transition('background-color');
  }

  &:hover,
  body.-menu-open & {
    background: color('secondary');
  }
}

.main-menu__toggler-icon-container {
  width: 50px;
  height: 50px;
  position: relative;

  body.-page-init & {
    transition: transition('background-color');
  }
}

.main-menu__toggler-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 20px;
  transform: translate(-50%, -50%);
}

.main-menu__toggler-icon-line1,
.main-menu__toggler-icon-line2,
.main-menu__toggler-icon-line3 {
  content: '';
  position: absolute;
  background: #fff;
  height: 2px;
  width: 22px;
  border-radius: 1.5px;
  right: 0;

  body.-init & {
    transition: transition('width', 'transform', 'opacity', 'background-color');
  }

  body.-menu-open & {
    opacity: 0;
    width: 0 !important;
  }
}

.main-menu__toggler-icon-line1 {
  top: 0;
  transform-origin: right center;

  .main-menu__toggler-icon-container:hover & {
    width: 14px;
  }
}

.main-menu__toggler-icon-line2 {
  top: 50%;
  margin-top: -1px;
  width: 14px;

  .main-menu__toggler-icon-container:hover & {
    width: 22px;
  }
}

.main-menu__toggler-icon-line3 {
  bottom: 0;
  transform-origin: right center;

  .main-menu__toggler-icon-container:hover & {
    width: 14px;
  }
}

.main-menu__toggler-icon-line-close1,
.main-menu__toggler-icon-line-close2 {
  content: '';
  position: absolute;
  background: #fff;
  height: 2px;
  width: 0;
  border-radius: 1.5px;
  top: 50%;
  left: 50%;
  transition: transition('width', 'transform', 'opacity');
  opacity: 0;

  body.-menu-open & {
    width: 24px;
    opacity: 1;
  }
}

.main-menu__toggler-icon-line-close1 {
  transform: translate(-50%, -50%) rotate(45deg);
}

.main-menu__toggler-icon-line-close2 {
  transform: translate(-50%, -50%) rotate(-45deg);
}