@use '../variables' as *;

@mixin wordpress {
  // Admin bar
  
  #wpadminbar {
    top: 0 !important;
    position: fixed !important;
  }

  // Wordpress colors

  @each $name, $color in $colors {
    .has-#{$name}-color {
      color: $color;
    }

    .has-#{$name}-background-color {
      background-color: $color;
    }
  }

  // Wordpress gradients

  @each $name, $direction, $color1, $color2 in $gradients {
    .has-#{$name}-gradient-background {
      background-image: gradient($name);
    }
  }

  @each $name, $values in $gradients {
    .has-#{$name}-gradient-background {
      background-image: gradient($name);
    }
  }

  // Wordpress font sizes

  @each $name, $size, $lineHeight in $fontSizes {
    .has-#{$name}-font-size {
      font-size: $size;
      line-height: $lineHeight;
    }
  }
}
