@use "../variables" as *;

body {
  font-family: $primaryFontFamily;
  font-size: $defaultFontSize;
  line-height: $defaultLineHeight;
  color: $defaultTextColor;
  background: #fff;
}

// Scaffold

.page__wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .logged-in.admin-bar & {
    min-height: calc(100vh - 32px);

    @media (max-width: 781px) {
      min-height: calc(100vh - 46px);
    }
  }
}

.content__wrapper {
  flex: 1;
}
