@use '../variables' as *;

// Buttons
@mixin form {
  .button,
  .wp-block-button__link {
    display: inline-block;
    border: 0;
    color: #fff;
    font-size: fontSize('m');
    line-height: 26px;
    border-radius: 32px;
    padding: 12px 24px;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
    text-decoration: none !important;
    background: color('secondary');
    transition: transition('background');
    font-weight: 600;
    height: auto;

    &:hover {
      text-decoration: none !important;
      background: color('primary');
    }

    &[disabled] {
      cursor: default !important;
      color: #ccc !important;
      background: #eee !important;
      box-shadow: none !important;
    }
  }
}
