@use '../core' as *;

.welcome-panel {
  background: #fff;
  border: 1px solid #c3c4c7;
  border-radius: 6px;
  padding: 12px 16px 16px;
}

.welcome-panel-close {
  display: none !important;
}

// Dashboard panel

h2.fs-dashboard__title {
  font-size: 28px;
}

p.fs-dashboard__description {
  font-size: 14px;
  line-height: 1.5;
  margin: 8px 0 16px;
}

.fs-dashboard__sections {
  &.-flex {
    display: flex;
    gap: 48px;
  }
}

.fs-dashboard__section {
  &.-limit {
    max-width: 220px;
  }

  &.-margin {
    margin-top: 24px;
  }
}

.fs-dashboard__section-title {
  font-weight: 600;
}

.fs-dashboard__section-list {
  margin: 8px 0 0;

  li {
    margin: 0 0 8px;

    &:last-child {
      margin-bottom: 0;
    }

    .fs-dashboard__section.-limit & {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}


.fs-dashboard__section-table {
  border-collapse: collapse;
  width: 100%;
  margin: 8px 0 0;

  td {
    padding: 0 12px 8px 0;
    text-align: left;
    vertical-align: top;

    &:last-child {
      padding-right: 0;
    }
  }

  tr:last-child td {
    padding-bottom: 0;
  }

  a {
    text-decoration: none;
  }
}

.fs-dashboard__section-cell {
  padding: 0;

  &.-date {
    color: #646970;
    white-space: nowrap;
    width: 0;
  }
}