@use '../core' as *;

// Dashboard widgets

#dashboard-widgets .postbox-container .empty-container {
  opacity: 0;

  .is-dragging-metaboxes & {
    opacity: 1;
  }
}

// Dashboard panel

p.fs-dashboard__description {
  font-size: 14px;
  line-height: 1.5;
  margin: 8px 0 16px;
}

.fs-dashboard__sections {
  &.-flex {
    display: flex;
    gap: 48px;
  }
}

.fs-dashboard__section {
  &.-limit {
    max-width: 220px;
  }

  &.-margin {
    margin-top: 20px;
  }
}

.fs-dashboard__section-title {
  font-weight: 600;
}

.fs-dashboard__section-list {
  margin: 4px 0 0;

  li {
    margin: 0 0 4px;

    &:last-child {
      margin-bottom: 0;
    }

    .fs-dashboard__section.-limit & {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}


.fs-dashboard__section-table {
  border-collapse: collapse;
  width: 100%;
  margin: 4px 0 0;
  font-size: 13px;
  line-height: 18px;

  td {
    padding: 0 8px 4px 0;
    text-align: left;
    vertical-align: top;

    &:last-child {
      padding-right: 0;
    }
  }

  tr:last-child td {
    padding-bottom: 0;
  }

  a {
    text-decoration: none;
  }
}

.fs-dashboard__section-cell {
  padding: 0;

  &.-type,
  &.-date {
    color: #646970;
    white-space: nowrap;
    width: 0;
  }

  &.-preview {
    width: 16px;
    padding-bottom: 0;
    padding-right: 6px;

    a {
      outline: none !important;
      box-shadow: none !important;
    }

    svg {
      width: 16px;
      height: 16px;
      margin-top: 2px;
    }
  }
}