@use '../../../src/scss/variables' as *;

.image-slider__wrapper {
  margin: 48px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 900px) {
    margin: 32px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.image-slider__slides {
  display: block;
  margin: 0;
  opacity: 0;
  transition: transition("opacity");

  &.-init {
    opacity: 1;
  }

  &[data-amount="2"],
  &[data-amount="3"] {
    .slick-slide {
      margin: 0 8px;
    }

    .slick-list {
      margin: 0 -8px;
    }
  }
}

.image-slider__slide {
  position: relative;
  background: no-repeat center center / cover;
}

.image-slider__image-spacer {
  position: relative;
  display: block;
  padding-top: calc(2 / 3 * 100%);

  .image-slider__slides[data-ratio="4-3"] & {
    padding-top: calc(3 / 4 * 100%);
  }

  .image-slider__slides[data-ratio="3-2"] & {
    padding-top: calc(2 / 3 * 100%);
  }

  .image-slider__slides[data-ratio="2-1"] & {
    padding-top: calc(1 / 2 * 100%);
  }

  .image-slider__slides[data-ratio="1-1"] & {
    padding-top: 100%;
  }

  .image-slider__slides[data-ratio="16-9"] & {
    padding-top: calc(9 / 16 * 100%);
  }
}
