@use '../core' as *;

.fs-chart-container,
.fs-chart-wrapper-flex {
  max-width: 860px;
  box-sizing: border-box;
}

.fs-chart-container {
  position: relative;
  background: #fff;
  border: 1px solid #c3c4c7;
  border-radius: 6px;
  padding: 16px;
  word-break: break-word;
}

.fs-chart-wrapper-flex {
  display: flex;
  gap: 24px;
  margin-top: 32px;
  align-items: stretch;
  flex-wrap: wrap;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.fs-chart-container-flex {
  width: calc(50% - 12px);

  @media (max-width: 600px) {
    width: 100%;
  }
}