// Fonts
@forward '../fonts/fonts';

// Shared
@forward '../layout/shared/wordpress';
@forward '../layout/shared/form-editor';
@forward '../layout/shared/tags-editor';
@forward '../layout/shared/wordpress-blocks-editor';

// Wordpress
@forward 'wordpress';

// Forms
@forward 'form';

// Common
@forward 'common';

// Editor
@forward 'editor';

// Blocks
@forward '../blocks/all-blocks';

/*

// TODO: Maybe move to blocks plugin

// Block preview

.admin-block-preview {
  border: 1px solid #000;
  border-left-width: 4px;
  background: #f6f6f6;
  border-radius: 8px;
  padding: 20px 24px 24px;
  font-size: 16px;

  b {
    font-weight: 600;
  }

  code {
    color: #999;
    font-size: 14px;
  }
}
*/