// Fonts
@forward '../fonts/fonts';

// Shared
@forward '../layout/shared/wordpress';
@forward '../layout/shared/form-editor';
@forward '../layout/shared/tags-editor';
@forward '../layout/shared/wordpress-blocks-editor';

// Editor
@forward 'editor';

// Blocks
@forward '../blocks/all-blocks';


// TODO SORT

.fs-description-adjust-checkbox {
  padding-left: 24px;
}