// Fonts
@forward '../fonts/fonts';

// Shared
@forward '../layout/shared/wordpress';
@forward '../layout/shared/form-editor';
@forward '../layout/shared/tags-editor';
@forward '../layout/shared/wordpress-blocks-editor';

// Editor
@forward 'editor';

// Blocks
@forward '../blocks/all-blocks';


// TODO SORT

.fs-description-adjust-checkbox {
  padding-left: 24px;
}

.fs-hidden {
  display: none !important;
}

.fs-notice-error {
  ul {
    list-style-type: none;
    
    li {
      position: relative;
      margin: 0 0 8px;
      padding-left: 12px;

      &::before {
        content: "›";
        position: absolute;
        left: 2px;
        top: -1px;
        transform: scale(1.25);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.fs-details {
  summary {
    position: relative;
    padding-left: 12px;
    cursor: pointer;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }

    &::before {
      content: "›";
      position: absolute;
      left: 0;
      top: 0;
      transition: transform 280ms;
      transform: translateY(-1px) translateX(1px) scale(1.25);
    }
  }

  &[open] summary::before {
    transform: translateY(-1px) translateX(1px) scale(1.25) rotate(90deg);
  }
}

.fs-input-label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
}

.fs-input-description {
  margin-top: 4px;
  font-size: 13px;
}

.fs-table-tight {
  width: auto;

  th {
    width: auto;
  }

  th,
  td {
    padding: 8px 6px;

    &:first-child {
      padding-left: 12px;
    }

    &:last-child {
      padding-right: 12px;
    }
  }
}

.fs-description-link {
  &.-has-icon {
    display: inline-flex;
    align-items: center;
    gap: 2px;

    .fs-description-link-icon {
      width: 16px;
      height: 16px;
      transform: translateY(1px);

      svg {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  &:not(:hover) {
    &.-gray {
      color: #646970;
    }
  }
}




// TODO remove
// Install page section titles
.appearance_page_fromscratch-install {
  .fs-install-section-row {
    td {
      padding-bottom: 0;
      border-bottom: none;
      vertical-align: bottom;
    }
  }

  .fs-install-section-title {
    margin: 0 0 4px 0;
    padding: 0;
    font-size: 1.1em;
    font-weight: 600;
    color: #1d2327;
  }

  .fs-install-section-row+tr th,
  .fs-install-section-row+tr td {
    padding-top: 12px;
  }
}