// Toggle display

.fs-hidden {
  display: none !important;
}

// Notices

.fs-notice-error {
  ul {
    list-style-type: none;

    li {
      position: relative;
      margin: 0 0 8px;
      padding-left: 12px;

      &::before {
        content: "›";
        position: absolute;
        left: 2px;
        top: -1px;
        transform: scale(1.25);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// Details summary

.fs-details {
  summary {
    position: relative;
    padding-left: 12px;
    cursor: pointer;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }

    &::before {
      content: "›";
      position: absolute;
      left: 0;
      top: 0;
      transition: transform 280ms;
      transform: translateY(-1px) translateX(1px) scale(1.25);
    }
  }

  &[open] summary::before {
    transform: translateY(-1px) translateX(1px) scale(1.25) rotate(90deg);
  }
}

// Tables

.fs-table-tight {
  width: auto;

  th {
    width: auto;
  }

  th,
  td {
    padding: 8px 6px;

    &:first-child {
      padding-left: 12px;
    }

    &:last-child {
      padding-right: 12px;
    }
  }
}

// Description links

.fs-description-link {
  &.-has-icon {
    display: inline-flex;
    align-items: center;
    gap: 2px;

    .fs-description-link-icon {
      width: 16px;
      height: 16px;
      transform: translateY(1px);

      svg {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  &:not(:hover) {
    &.-gray {
      color: #646970;
    }
  }
}