@use '../variables' as *;

// Panel

.fromscratch-panel {
  .components-panel__row > * {
    width: 100%;
  }
}



/*

TODOD 

Check 
// Main title

.editor-post-title {
  margin-top: 0 !important;
  margin-bottom: 32px !important;
  color: color('gray-600');
}

// Block preview

.admin-block-preview {
  border: 1px solid #000;
  border-left-width: 4px;
  background: #f6f6f6;
  border-radius: 8px;
  padding: 20px 24px 24px;
  font-size: 16px;

  b {
    font-weight: 600;
  }

  code {
    color: #999;
    font-size: 14px;
  }
}
*/