@use '../variables' as *;

// Editor panel

div.fromscratch-editor-panel {
  .components-panel__row {
    >* {
      width: 100%;
    }

    .components-base-control__label,
    .components-input-control__label {
      display: block;
      font-size: 13px;
      font-weight: 500;
      max-width: 100%;
      text-transform: none;
      margin-right: 0;
      margin-bottom: 6px;
    }

    .components-base-control__help {
      margin-top: 6px;
      font-size: 12px;
      font-style: normal;
      color: #757575;
      margin-bottom: revert;
    }

    .editor-post-featured-image__actions {
      width: 100%;
      display: flex;
      gap: 8px;
    }

    .editor-post-featured-image__preview,
    .editor-post-featured-image__toggle {
      border-radius: 2px;
    }
  }

  // Expirator

  .fromscratch-expirator-field-action {
    .components-flex {
      gap: 0 !important;
    }
  }

  .components-button.fromscratch-expirator-preview {
    padding: 6px 12px;
    background: #f6f6f6;
    border-radius: 2px;
    height: auto;
    text-align: left;
    line-height: 1.4;
    min-height: 40px;
  }
}

// style: { padding: 0, border: 0, background: 'none', cursor: 'pointer', color: 'var(--wp-admin-theme-color, #0073aa)', textAlign: 'left', fontSize: 'inherit' }


/*

TODOD 

Check 
// Main title

.editor-post-title {
  margin-top: 0 !important;
  margin-bottom: 32px !important;
  color: color('gray-600');
}

// Block preview

.admin-block-preview {
  border: 1px solid #000;
  border-left-width: 4px;
  background: #f6f6f6;
  border-radius: 8px;
  padding: 20px 24px 24px;
  font-size: 16px;

  b {
    font-weight: 600;
  }

  code {
    color: #999;
    font-size: 14px;
  }
}
*/