@use '../core' as *;

.welcome-panel {
  background: #fff;
  border: 1px solid #c3c4c7;
  border-radius: 6px;
  padding: 16px;
}

.welcome-panel-close {
  display: none !important;
}

// Dashboard panel

h2.fs-dashboard__title {
  font-size: 28px;
}

p.fs-dashboard__description {
  font-size: 14px;
  margin: 8px 0 16px;
}