// Tab navigation

.nav-tab {
  border-radius: 3px 3px 0 0;
  padding-top: 3px;
  padding-bottom: 3px;

  @media (max-width: 600px) {
    border-radius: 3px;
  }

  &.has-icons {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .fs-tab-icons {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-right: -2px;
  }

  .fs-tab-icon {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #72aee6;
    color: #fff;

    svg {
      display: block;
      fill: currentColor;
      width: 12px;
      height: 12px;
    }
  }
}