@use '../variables' as *;

body {
  font-family: var(--fs-primary-font-family);
  font-size: var(--fs-default-font-size);
  line-height: var(--fs-default-line-height);
  color: var(--fs-default-text-color);
  background: #fff;
}

// Scaffold

.page__wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .logged-in.admin-bar & {
    min-height: calc(100vh - 32px);

    @media (max-width: 781px) {
      min-height: calc(100vh - 46px);
    }
  }
}

.content__wrapper {
  flex: 1;
  padding: 32px 0 48px;

  @media (max-width: $breakpoint-mobile) {
    padding: 32px 0;
  }
}

.content__content {
  position: relative;
}