@use '../variables' as *;

body {
  font-family: var(--primary-font-family);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
  color: var(--default-text-color);
  background: #fff;
}

// Scaffold

.page__wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .logged-in.admin-bar & {
    min-height: calc(100vh - 32px);

    @media (max-width: 781px) {
      min-height: calc(100vh - 46px);
    }
  }
}

.content__wrapper {
  flex: 1;
  padding: 48px 0;

  @media (max-width: var(--breakpoint-mobile)) {
    padding: 32px 0;
  }
}