@use '../variables' as *;

// Container

.container {
  position: relative;
  margin: auto;
  max-width: var(--content-max-width);
  width: calc(100% - var(--content-padding-l) - var(--content-padding-l));

  @media (max-width: var(--breakpoint-m)) {
    width: calc(100% - var(--content-padding-m) - var(--content-padding-m));
  }

  @media (max-width: var(--breakpoint-s)) {
    width: calc(100% - var(--content-padding-s) - var(--content-padding-s));
  }

  @media (max-width: var(--breakpoint-xs)) {
    width: calc(100% - var(--content-padding-xs) - var(--content-padding-xs));
  }
}

.alignwide {
  margin-left: calc(80px * -1);
  margin-right: calc(80px * -1);

  &.has-background {
    padding-left: 80px;
    padding-right: 80px;
  }

  @media (max-width: calc(var(--content-max-width) + 80px + 80px + 24px + 24px)) {
    margin-left: calc(var(--content-padding-l) * -1);
    margin-right: calc(var(--content-padding-l) * -1);

    &.has-background {
      padding-left: var(--content-padding-l);
      padding-right: var(--content-padding-l);
    }
  }

  @media (max-width: calc(var(--content-max-width) + var(--content-padding-l) + var(--content-padding-l) + 24px + 24px)) {
    margin-left: calc((100vw - var(--content-max-width)) / 2 / 2 * -1 - 16px);
    margin-right: calc((100vw - var(--content-max-width)) / 2 / 2 * -1 - 16px);

    &.has-background {
      padding-left: calc((100vw - var(--content-max-width)) / 2 / 2 + 16px);
      padding-right: calc((100vw - var(--content-max-width)) / 2 / 2 + 16px);
    }
  }

  @media (max-width: calc(var(--content-max-width) + var(--content-padding-l) + var(--content-padding-l))) {
    margin-left: calc(var(--content-padding-l) / 2 * -1 - 12px);
    margin-right: calc(var(--content-padding-l) / 2 * -1 - 12px);

    &.has-background {
      padding-left: calc(var(--content-padding-l) / 2 + 12px);
      padding-right: calc(var(--content-padding-l) / 2 + 12px);
    }
  }

  @media (max-width: var(--breakpoint-m)) {
    margin-left: calc(var(--content-padding-m) * -1 + 16px);
    margin-right: calc(var(--content-padding-m) * -1 + 16px);

    &.has-background {
      padding-left: calc(var(--content-padding-m) - 16px);
      padding-right: calc(var(--content-padding-m) - 16px);
    }
  }

  @media (max-width: var(--breakpoint-s)) {
    margin-left: calc(var(--content-padding-s) * -1 + 8px);
    margin-right: calc(var(--content-padding-s) * -1 + 8px);

    &.has-background {
      padding-left: calc(var(--content-padding-s) - 8px);
      padding-right: calc(var(--content-padding-s) - 8px);
    }
  }

  @media (max-width: var(--breakpoint-xs)) {
    margin-left: calc(var(--content-padding-xs) * -1 + 8px);
    margin-right: calc(var(--content-padding-xs) * -1 + 8px);

    &.has-background {
      padding-left: calc(var(--content-padding-xs) - 8px);
      padding-right: calc(var(--content-padding-xs) - 8px);
    }
  }
}

.alignfull {
  margin-left: calc((100vw - var(--content-max-width)) * -0.5);
  margin-right: calc((100vw - var(--content-max-width)) * -0.5);

  @media (max-width: calc(var(--content-max-width) + var(--content-padding-l) + var(--content-padding-l))) {
    margin-left: calc(var(--content-padding-l) * -1);
    margin-right: calc(var(--content-padding-l) * -1);
  }

  @media (max-width: var(--breakpoint-m)) {
    margin-left: calc(var(--content-padding-m) * -1);
    margin-right: calc(var(--content-padding-m) * -1);
  }

  @media (max-width: var(--breakpoint-s)) {
    margin-left: calc(var(--content-padding-s) * -1);
    margin-right: calc(var(--content-padding-s) * -1);
  }

  @media (max-width: var(--breakpoint-xs)) {
    margin-left: calc(var(--content-padding-xs) * -1);
    margin-right: calc(var(--content-padding-xs) * -1);
  }

  > .wp-block-group__inner-container {
    max-width: calc(var(--content-max-width) + var(--content-padding-l) + var(--content-padding-l));
    padding-left: var(--content-padding-l);
    padding-right: var(--content-padding-l);
    margin: auto;

    @media (max-width: var(--breakpoint-m)) {
      padding-left: var(--content-padding-m);
      padding-right: var(--content-padding-m); 
    }

    @media (max-width: var(--breakpoint-s)) {
      padding-left: var(--content-padding-s);
      padding-right: var(--content-padding-s);
    }

    @media (max-width: var(--breakpoint-xs)) {
      padding-left: var(--content-padding-xs);
      padding-right: var(--content-padding-xs);
    }
  }
}
