@use '../variables' as *;

// Header

.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: var(--fs-color-gray-200);

  // Adjust when wordpress admin bar is present
  .logged-in.admin-bar & {
    top: 32px;

    @media (max-width: 782px) {
      top: 46px;
    }
  }
}

.header__placeholder {
  height: var(--fs-header-height);

  @media (max-width: $breakpoint-mobile) {
    height: var(--fs-header-height-mobile);
  }
}

.header__container {
  display: flex;
  align-items: center;
  height: var(--fs-header-height);

  body.-transition-init & {
    transition: transition('height');
  }

  body.-scrolled & {
    height: var(--fs-header-height-scrolled);
  }

  @media (max-width: $breakpoint-mobile) {
    height: var(--fs-header-height-mobile);
  }
}

.logo__container {
  line-height: 0;

  a {
    display: block;
  }
}

.logo__image {
  height: 40px;
  width: auto;

  body.-transition-init & {
    transition: transition('height');
  }

  body.-scrolled & {
    height: 32px;
  }

  @media (max-width: $breakpoint-mobile) {
    height: 32px;
  }
}