@use '../variables' as *;

// Header styles

.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #ccc;

  // Adjust when wordpress admin bar is present
  .logged-in.admin-bar & {
    top: 32px;

    @media (max-width: 782px) {
      top: 46px;
    }
  }
}

.header__placeholder {
  height: var(--header-height);

  @media (max-width: var(--breakpoint-mobile)) {
    height: var(--header-height-mobile);
  }
}

.header__container {
  display: flex;
  align-items: center;
  height: var(--header-height);

  body.-init & {
    transition: transition('height');
  }

  body.-scrolled & {
    height: var(--header-height-scrolled);
  }

  @media (max-width: var(--breakpoint-mobile)) {
    height: var(--header-height-mobile);

    body.-scrolled & {
      height: var(--header-height-scrolled);
    }
  }
}

.logo__container {
  line-height: 0;
}

.logo__image {
  height: 42px;
  width: auto;

  body.-init & {
    transition: transition('height');
  }

  body.-scrolled & {
    height: 32px;
  }

  @media (max-width: var(--breakpoint-mobile)) {
    height: 40px;

    body.-scrolled & {
      height: 32px;
    }
  }
}

// Header menu

.header-menu__wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;

  @media (max-width: var(--breakpoint-mobile)) {
    position: absolute;
    display: block;
    top: 100%;
    width: var(--mobile-menu-width);
    right: calc(var(--mobile-menu-width) * -1 - 8px - var(--content-padding-l));
    background: #fff;
    margin: 0;
    transition: transition('right');
    height: calc(100vh - var(--header-height));
    padding: 24px var(--content-padding-l) 24px 24px;

    body.-scrolled & {
      height: calc(100vh - var(--header-height-scrolled));
    }

    body.admin-bar & {
      height: calc(100vh - var(--header-height-mobile) - 32px);

      @media (max-width: 782px) {
        height: calc(100vh - var(--header-height-mobile) - 46px);
      }
    }

    body.admin-bar.-scrolled & {
      height: calc(100vh - var(--header-height-scrolled) - 32px);

      @media (max-width: 782px) {
        height: calc(100vh - var(--header-height-scrolled) - 46px);
      }
    }

    @media (max-width: var(--breakpoint-m)) {
      padding-right: var(--content-padding-m);
      right: calc(var(--mobile-menu-width) * -1 - var(--content-padding-m));
    }

    @media (max-width: var(--breakpoint-s)) {
      padding-right: var(--content-padding-s);
      right: calc(var(--mobile-menu-width) * -1 - var(--content-padding-s));
    }

    @media (max-width: var(--breakpoint-xs)) {
      padding-right: var(--content-padding-xs);
      width: 100vw;
      right: calc(100vw * -1 - var(--content-padding-xs));
    }

    body.-menu-open & {
      right: calc(var(--content-padding-l) * -1);

      @media (max-width: var(--breakpoint-m)) {
        right: calc(var(--content-padding-m) * -1);
      }

      @media (max-width: var(--breakpoint-s)) {
        right: calc(var(--content-padding-s) * -1);
      }

      @media (max-width: var(--breakpoint-xs)) {
        right: calc(var(--content-padding-xs) * -1);
      }
    }
  }
}

.header-menu__container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;

  @media (max-width: var(--breakpoint-mobile)) {
    width: 100%;
    flex-direction: column;
    padding: 8px 0;
  }

  >li {
    padding: 0;
    margin: 0 24px 0 0;

    @media (max-width: var(--breakpoint-mobile)) {
      margin: 0;
      text-align: right;
      padding: 8px 0;
    }

    &:last-child {
      margin-right: 0;
    }

    >a {
      color: var(--default-text-color);
      text-decoration: none;

      &:hover {
        color: var(--color-primary);
        text-decoration: none;
      }
    }

    &.-current-active {
      >a {
        color: var(--color-primary);
      }
    }

    &.menu-item-is-button {
      @media (max-width: var(--breakpoint-mobile)) {
        margin-top: 16px;
      }

      >a {
        background: var(--color-primary);
        color: #fff;
        padding: 12px 24px;
        border-radius: 8px;
        text-decoration: none;
        font-weight: 600;
        transition: transition('background-color', 'color');

        &:hover {
          background: var(--color-secondary);
        }
      }
    }
  }
}

.header__menu-overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  pointer-events: none;
  transition: transition('opacity');

  body.-menu-open & {
    opacity: 1;
    pointer-events: all;
  }
}

body.-menu-block-scroll {
  overflow: hidden;
}

// Menu toggler

.header-menu__toggler-container {
  display: block;
  z-index: 4;
  cursor: pointer;
  margin-left: auto;
  border-radius: 50%;
  background: var(--color-primary);

  body.-page-init & {
    transition: transition('background-color');
  }

  &:hover,
  body.-menu-open & {
    background: var(--color-secondary);
  }
}

.main-menu__toggler-icon-container {
  width: 50px;
  height: 50px;
  position: relative;

  body.-page-init & {
    transition: transition('background-color');
  }
}

.main-menu__toggler-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 20px;
  transform: translate(-50%, -50%);
}

.main-menu__toggler-icon-line1,
.main-menu__toggler-icon-line2,
.main-menu__toggler-icon-line3 {
  content: '';
  position: absolute;
  background: #fff;
  height: 2px;
  width: 22px;
  border-radius: 1.5px;
  right: 0;

  body.-init & {
    transition: transition('width', 'transform', 'opacity', 'background-color');
  }

  body.-menu-open & {
    opacity: 0;
    width: 0 !important;
  }
}

.main-menu__toggler-icon-line1 {
  top: 0;
  transform-origin: right center;

  .main-menu__toggler-icon-container:hover & {
    width: 14px;
  }
}

.main-menu__toggler-icon-line2 {
  top: 50%;
  margin-top: -1px;
  width: 14px;

  .main-menu__toggler-icon-container:hover & {
    width: 22px;
  }
}

.main-menu__toggler-icon-line3 {
  bottom: 0;
  transform-origin: right center;

  .main-menu__toggler-icon-container:hover & {
    width: 14px;
  }
}

.main-menu__toggler-icon-line-close1,
.main-menu__toggler-icon-line-close2 {
  content: '';
  position: absolute;
  background: #fff;
  height: 2px;
  width: 0;
  border-radius: 1.5px;
  top: 50%;
  left: 50%;
  transition: transition('width', 'transform', 'opacity');
  opacity: 0;

  body.-menu-open & {
    width: 24px;
    opacity: 1;
  }
}

.main-menu__toggler-icon-line-close1 {
  transform: translate(-50%, -50%) rotate(45deg);
}

.main-menu__toggler-icon-line-close2 {
  transform: translate(-50%, -50%) rotate(-45deg);
}