@use '../variables' as *;

.post-preview__container {
  position: relative;
  margin: 0 0 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.post-preview__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
  text-decoration: none;
  color: var(--fs-default-text-color);

  &:hover {
    text-decoration: none;
    color: var(--fs-default-text-color);
  }

  @media (max-width: $breakpoint-m) {
    gap: 24px;
  }

  @media (max-width: $breakpoint-s) {
    gap: 16px;
  }

  @media print {
    text-decoration: none !important;
  }
}

.post-preview__image-container {
  align-self: flex-start;
  flex-shrink: 0;
  width: 280px;

  @media (max-width: $breakpoint-m) {
    width: 200px;
  }

  @media (max-width: $breakpoint-s) {
    width: 100%;
  }

  @media print {
    width: 160px;
  }
}

.post-preview__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 3/2;
  border-radius: var(--fs-border-radius);
}

.post-preview__content {
  flex: 1;

}

.post-preview__title {
  position: relative;
  margin: 0 0 8px;
}

.post-preview__read-more-container {
  margin: 4px 0 0;

  @media print {
    display: none;
  }
}

.post-preview__excerpt {
  text-wrap: pretty;
  font-weight: 400;
}