@use '../variables' as *;

// Search results

.search__page-form {
  margin: 0 0 24px;
}

.search__empty {
  color: var(--fs-color-gray-600);
}

.search__amount {
  color: var(--fs-color-gray-600);
  margin: 0 0 24px;
}
