@use '../variables' as *;

// Search form (page + header modal)

.search-form__fields {
  position: relative;
}

.search-form__input {
  display: block;
  appearance: none;
  margin: 0;
  padding: 12px 22px;
  font-size: var(--fs-font-size-m);
  line-height: 24px;
  border: 1px solid var(--fs-color-gray-400);
  border-radius: 32px;
  background: #fff;
  color: inherit;
  width: 100%;

  &::-webkit-search-cancel-button {
    display: none;
    appearance: none;
  }
}

.search-form__submit {
  position: absolute;
  top: 50%;
  right: 4px;
  height: calc(24px + 12px + 12px - 4px - 4px);
  aspect-ratio: 1/1;
  transform: translateY(-50%);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form__submit-icon {
  width: 24px;
  height: 24px;
}

// Header search trigger

.header-search__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  margin-left: 16px;
  height: 36px;
  width: 36px;
  border: 0;
  box-shadow: none;
  appearance: none;
  transition: transition('color', 'background-color', 'border-color');
  background: #fff;
  border: 1px solid var(--fs-color-gray-300);
  color: var(--fs-default-text-color);
  border-radius: 50%;
  cursor: pointer;

  svg {
    display: block;
    width: 24px;
    height: 24px;
  }

  &:hover {
    color: #fff;
    background-color: var(--fs-color-primary);
    border-color: var(--fs-color-primary);
  }

  @media (max-width: $breakpoint-mobile) {
    width: 42px;
    height: 42px;
    margin-left: 0;
    border-color: transparent;
    background: transparent;

    &:hover {
      border-color: transparent;
      background: transparent;
      color: var(--fs-color-primary);
    }
  }
}

// Modal

.modal__wrapper[data-id="search"] {
  .modal__content-container {
    padding: 12px;
    border-radius: 48px;
  }

  .modal__content {
    position: relative;
  }

  .modal__close-button {
    display: none;
  }
}

.search-modal__close-button {
  position: absolute;
  left: 50%;
  top: calc(100% + 20px);
  transform: translateX(-50%);
  border-radius: 4px;
  color: var(--fs-color-gray-500);
  cursor: pointer;
  transition: transition('color');
  font-weight: 600;
  font-size: var(--fs-font-size-s);
  line-height: var(--fs-line-height-s);
  padding: 2px 8px;
  margin: 0;
  border: 0;
  background: transparent;
  box-shadow: none;
  appearance: none;

  &:hover {
    color: #fff;
  }
}

// Search results page

.search__page-form {
  margin: 0 0 24px;

  @media (max-width: $breakpoint-s) {
    margin-bottom: 16px;
  }
}

.search__empty {
  color: var(--fs-color-gray-600);
}

.search__amount {
  color: var(--fs-color-gray-600);
  margin: 0 0 24px;

  @media (max-width: $breakpoint-s) {
    margin-bottom: 16px;
  }
}