@use '../variables' as *;

@mixin wordpress-blocks {
  // Groups

  .wp-block-group {
    position: relative;

    &.has-background {
      padding-top: 64px;
      padding-bottom: 64px;

      @media (max-width: calc(var(--content-max-width) + var(--content-padding-l) + var(--content-padding-l))) {
        padding-top: 48px;
        padding-bottom: 48px;
      }

      @media (max-width: var(--breakpoint-m)) {
        padding-top: 32px;
        padding-bottom: 32px;
      }

      @media (max-width: var(--breakpoint-xs)) {
        padding-top: 16px;
        padding-bottom: 16px;
      }

      &:not(.alignfull) {
        border-radius: var(--border-radius);

        @media (max-width: var(--breakpoint-xs)) {
          border-radius: var(--border-radius);
        }
      }

      &:not(.alignfull):not(.alignwide) {
        padding-left: 48px;
        padding-right: 48px;

        @media (max-width: var(--breakpoint-m)) {
          padding-left: 32px;
          padding-right: 32px;
        }

        @media (max-width: var(--breakpoint-s)) {
          padding-left: 24px;
          padding-right: 24px;
          padding-top: 16px;
          padding-bottom: 16px;
        }

        @media (max-width: var(--breakpoint-xs)) {
          padding-left: 16px;
          padding-right: 16px;
          padding-top: 12px;
          padding-bottom: 12px;
        }
      }
    }
    
    &.has-black-background-color,
    &.has-off-black-background-color,
    &.has-gray-600-background-color {
      color: #fff;
    }
  }

  // Columns

  .wp-block-columns {
    margin-top: 0;
    margin-bottom: 0;
    gap: 48px;

    @media (max-width: var(--breakpoint-l)) {
      gap: 32px;
    }

    @media (max-width: var(--breakpoint-s)) {
      gap: 24px;
    }
  }

  .wp-block-column {
    &.-has-background-color {
      background-color: var(--color-gray-300);
      border-radius: var(--border-radius);

      > .wp-block-group {
        padding: 64px;

        @media (max-width: var(--breakpoint-l)) {
          padding: 48px;
        }

        @media (max-width: var(--breakpoint-s)) {
          padding: 32px;
        }

        @media (max-width: var(--breakpoint-xs)) {
          padding: 24px;
        }
      }
    }
  }

  // Images

  figure {
    padding: 0;

    &.wp-block-image {
      &.is-style-rounded {
        img {
          border-radius: var(--border-radius);
        }
      }
    }
  }
}
