@use 'sass:string';
@use "sass:list";

// Paths
$themePath: '/wp-content/themes/fromscratch';

// Colors
@function color($value) {
  @each $name, $color in $colors {
    @if $name == $value {
      @return $color;
    }
  }
  @return $value;
}

// Gradients
@function gradient($value) {
  @each $name, $values in $gradients {
    @if $name == $value {
      $direction: list.nth($values, 1);
      $color1: list.nth($values, 2);
      $color2: list.nth($values, 3);
      @return linear-gradient($direction, $color1, $color2);
    } 
  }
  @return '';
}

// Font sizes
@function fontSize($value) {
  @each $name, $size in $fontSizes {
    @if $name == $value {
      @return $size;
    }
  }
  @return $value;
}

// Line heights
@function lineHeight($value) {
  @each $name, $size, $lineHeight in $fontSizes {
    @if $name == $value {
      @return $lineHeight;
    }
  }
  @return $value;
}

// Transitions
@function transition($values...) {
  $transition: '';
  @each $name in $values {
    @if ($transition != '') {
      $transition: $transition, string.unquote($name) $defaultTransitionSpeed;
    } @else {
      $transition: string.unquote($name) $defaultTransitionSpeed;
    }
  }
  @return $transition;
}

@function transitionSlow($values...) {
  $transition: '';
  @each $name in $values {
    @if ($transition != '') {
      $transition: $transition, string.unquote($name) $slowTransitionSpeed;
    } @else {
      $transition: string.unquote($name) $slowTransitionSpeed;
    }
  }
  @return $transition;
}

// Colors
// prettier-ignore
$colors:
  // Primary colors
  'primary' #00aaff,
  'secondary' #00ddff,

  // Grayscale
  'white' #fff,
  'black' #000,
  'off-black' #222,
  'gray-600' #666,
  'gray-500' #999,
  'gray-400' #ccc,
  'gray-300' #ddd,
  'gray-200' #eee,
  'gray-100' #f6f6f6,

  // Status colors
  'error' #f33,
  'warning' #fc0,
  'success' #5d5;

// Gradiens
// prettier-ignore
$gradients: (
  "primary": ((to bottom), #00aaff, #00ddff)
);

// Font sizes
// prettier-ignore
$fontSizes:
  's' 14px 1.5,
  'm' 16px 1.6,
  'l' 18px 1.5,
  'xl' 22px 1.4;

// Text
$primaryFontFamily: 'Open Sans', sans-serif;
$defaultTextColor: color('off-black');
$defaultFontSize: fontSize('m');
$defaultLineHeight: lineHeight('m');

// Content
$maxContent: 1200px;
$contentPaddingL: 64px;
$contentPaddingM: 48px;
$contentPaddingS: 32px;
$contentPaddingXS: 24px;

// Header
$headerHeight: 120px;
$headerHeightMobile: 80px;
$headerHeightScrolled: 62px;
$headerMenuWidth: 280px;

// Breakpoints
$mobileBreakpoint: 900px;
$breakpointXL: 1400px;
$breakpointL: 1200px;
$breakpointM: 900px;
$breakpointS: 600px;
$breakpointXS: 400px;

// Transitions
$defaultTransitionSpeed: 280ms;
$slowTransitionSpeed: 460ms;

// Border radius
$smallBorderRadius: 8px;
$defaultBorderRadius: 16px;
