@use 'sass:string';

// Paths
$themePath: '/wp-content/themes/fromscratch';

// Colors
@function color($value) {
  @each $name, $color in $colors {
    @if $name == $value {
      @return $color;
    }
  }
  @return $value;
}

// Font sizes
@function fontSize($value) {
  @each $name, $size in $fontSizes {
    @if $name == $value {
      @return $size;
    }
  }
  @return $value;
}

// Line heights
@function lineHeight($value) {
  @each $name, $size, $lineHeight in $fontSizes {
    @if $name == $value {
      @return $lineHeight;
    }
  }
  @return $value;
}

// Transitions
@function transition($values...) {
  $transition: '';
  @each $name in $values {
    @if ($transition != '') {
      $transition: $transition, string.unquote($name) $defaultTransitionSpeed;
    } @else {
      $transition: string.unquote($name) $defaultTransitionSpeed;
    }
  }
  @return $transition;
}

// Colors
// prettier-ignore
$colors:
  // Primary colors
  'primary' #00aaff,
  'secondary' #00ddff,

  // Grayscale
  'white' #fff,
  'black' #000,
  'off-black' #222,
  'gray-100' #fafafa,
  'gray-200' #eee,
  'gray-300' #ddd,
  'gray-400' #ccc,
  'gray-500' #999,
  'gray-600' #666,

  // Status colors
  'error' #f33,
  'warning' #fc0,
  'success' #5d5;

// Font sizes
// prettier-ignore
$fontSizes:
  's' 14px 1.5,
  'm' 16px 1.6,
  'l' 18px 1.5,
  'xl' 22px 1.4;

// Text
$primaryFontFamily: 'Open Sans', sans-serif;
$defaultTextColor: color('off-black');
$defaultFontSize: fontSize('m');
$defaultLineHeight: lineHeight('m');

// Dimensions
$maxContent: 1200px;
$maxContentPadding: 64px;

// Transitions
$defaultTransitionSpeed: 280ms;

// Border radius
$smallBorderRadius: 8px;
$defaultBorderRadius: 16px;
