@use '../variables' as *;

.fs-breadcrumbs__container {
  display: block;
  padding: 0;
  margin: 24px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $breakpoint-s) {
    margin: 16px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media print {
    display: none;
  }
}

.fs-breadcrumbs__list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: var(--fs-font-size-s);
  line-height: var(--fs-line-height-s);
}

.fs-breadcrumbs__item {
  display: inline;
}

.fs-breadcrumbs__item-label {
  display: inline;
}

.fs-breadcrumbs__item-label,
.fs-breadcrumbs__item-link {
  display: inline;
  margin: 0 5px 0 0;
}

.fs-breadcrumbs__separator {
  display: inline-block;
  margin: 0 4px 0 0;
  transform: scale(1.1) translateY(-0.5px);
}