// Colors
$primaryColor: #00aaff;
$secondaryColor: #00ddff;

// Text
$primaryFontFamily: "Montserrat", sans-serif;
$secondaryFontFamily: "Roboto", sans-serif;
$defaultTextColor: #222;
$defaultFontSize: 16px;
$defaultLineHeight: 1.6;
